@tailwind base;
@tailwind components;
@tailwind utilities;

.indian-flag-gradient-text {
    background: linear-gradient(to right, #ff9933, #ff9933 25%, #ffffff 25%, #ffffff 50%, #128807 50%, #128807 75%, #128807);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}